.popup{
    padding-bottom: 20px;
    width: 320px;
    height: 280px;
}

footer {
    text-align: center;
}

/**
 ========= Customize part =============================================
*/
.header h1 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: sans-serif;
    color: #333333;
    align-content: center;
}

.container {
  text-align: center;
}

.jumbotron .container {
  padding-left: 0;

}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron .lead {
  color: #888888;
}

.jumbotron.footer p {
  font-size: 1.1em;
  color: #888888;
}

.descriptions p {
  font-size: 1.3em;
}

.comments {
  font-size: 3.0em;
  font-weight: bold;
}

